<footer class="site-footer h-card" style="background-color: #060B1E; background-image: linear-gradient(#1E0404, #060B1E); color: white;">
  <data class="u-url" href="/2021/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Project DECODE</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Sohyon Lee <a class="u-email" href="mailto:sohyonlee@kaist.ac.kr">sohyonlee@kaist.ac.kr</a></li></ul>
          <li class="p-name">Naveed Ishaque <a class="u-email" href="mailto:naveed.ishaque@bih-charite.de">naveed.ishaque@bih-charite.de</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"></ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>The DECODE project - Dissecting Etiology of Cerebellar Origins of Disorders in Early childhood
        </p>
      </div>
    </div>

  </div>

</footer>
